.bg-image {
    width: 300px;
    height: 200px;
    /* 背景设置 */
    background: #DCF51E url(https://html-css-js.com/images/smiley.png) repeat-y scroll 9px 13px;
    /* 透明度 */
    opacity: .5;
}

.bg-image-fix {
    width: 800px;
    height: 1600px;
    /* background-size: cover; */
}

body {
    background: #abc url("https://images.unsplash.com/photo-1533263272401-a58fc34341c2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=a1bf1441aa5e3d0127583edc12d59880") no-repeat;
    /* 设置背景图像是否固定或者随着页面的其余部分滚动 */
    background-attachment: fixed;
}